<div class="card" data-id="<%= card %>" onclick="selectCard(this)">
    <div class="card-inner">
        <div class="card-front"></div>
        <div class="card-back"><%= card %></div>
    </div>
</div>
