<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Guessing Game</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Card Guessing Game</h1>
    <div id="game-board">
        <% cards.forEach((card, index) => { %>
            <div class="card" data-id="<%= card %>" onclick="selectCard(this)">
                <div class="card-inner">
                    <div class="card-front"></div>
                    <div class="card-back"><%= card %></div>
                </div>
            </div>
        <% }); %>
    </div>
    <button onclick="resetGame()">Restart Game</button>
    <div id="congratulations" class="hidden">Congratulations! You won!</div>
    
    <script src="script.js"></script>
</body>
</html>
